body, html {
  margin:0;
  padding:0;
  color:#000;
  background:#ECE9E1;
}

#results {
  float: left;
  width:1000px;
  height:600px
  margin:0 auto;
  background:#ECE9E1;
  display:none;
}

#list {
  float:left;
  width:250px;
  height:500px;
  overflow:auto;
}

#mapcontainer {
  float:right;
  width:750px;
  height:500px;
}

#resultcount {
  color:red;
}
